<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="frmUnidade" name="frmUnidade">
      <input type="hidden" name="id" formControlName="id"/>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                maxlength="10"
                matInput
                id="itIdentificadorUnidade"
                name="identificador"
                formControlName="identificador"
                placeholder="Identificador da unidade"
                required/>
            </mat-form-field>
            <small
              *ngIf="frmUnidade.get('identificador').invalid && (frmUnidade.get('identificador').dirty || frmUnidade.get('identificador').touched)"
              class="form-error-msg"> Identificador da unidade é obrigatória
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input id="itUsuario" type="text" placeholder="Pick one" aria-label="Number" formControlName="usuario"
                     placeholder="Proprietário" matInput [matAutocomplete]="usuarioAc" required>
              <mat-autocomplete id="acUsuario" name="usuario" [displayWith]="displayFn"
                                #usuarioAc="matAutocomplete" required>
                <mat-option *ngFor="let option of options" [value]="option">{{option.nome}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <small *ngIf="frmUnidade.get('usuario').invalid && (frmUnidade.get('usuario').dirty || frmUnidade.get('usuario').touched)"
                   class="form-error-msg"> O proprietário da unidade deve ser informado
            </small>
          </div>
        </div>
      </div>
      <button
        mat-raised-button
        id="btnSalvarUnidade"
        color="primary"
        (click)="onSalvar(frmUnidade.value)"
        [disabled]="!frmUnidade.valid">Salvar
      </button>
    </form>
  </mat-card-content>
</mat-card>
