<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmAreaComum="ngForm" name="frmAreaComum">
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                id="itDescAreaComum"
                name="descricao"
                [(ngModel)]="areaComum.descricao"
                ngModel
                #descricao="ngModel"
                placeholder="Descrição da Área Comum"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
              class="form-error-msg"> Descrição da área comum é obrigatória </small>
          </div>
        </div>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="onSalvar()"
        [disabled]="!frmAreaComum.valid">Salvar</button>
    </form>
  </mat-card-content>
</mat-card>
