<mat-card class="default">
  <mat-card-title>Resultados de Enquetes</mat-card-title>
  <mat-card-content class="p-0">
    <mat-list class="compact-list mb-1">
      <mat-list-item class="" *ngFor="let enquete of enquetes">
        <div fxLayout="row" fxFlex="100" (click)="onEnqueteClick(enquete.id)">
          <h6 class="m-0 mr-1">{{enquete.titulo}}</h6>
          <span fxFlex></span>
          <small class="text-muted mr-1">2 dias atrás</small>
        </div>
        <mat-chip mat-sm-chip [color]="'warn'" [selected]="true">{{enquete.status}}</mat-chip>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
