<mat-card class="p-0">
  <mat-card-title class="m-0">
    <div class="card-title-text">
      <span>{{enquete.titulo}} - Unidade {{enquete.unidade.identificador}}</span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmVoto="ngForm" name="frmVoto">
      <input type="hidden" [ngModel]="enquete.id" name="idEnquete" [value]="enquete.id">
      <input type="hidden" [ngModel]="enquete.unidade.id" name="idUnidade" [value]="enquete.unidade.id">
      <mat-radio-group name="idItemEnquete" ngModel fxLayout="column">
        <mat-radio-button [style.marginBottom]="'.5rem'" *ngFor="let item of enquete.itens" [value]="item.id">{{item.descricao}}</mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
      <button
        (click)="onSalvar(frmVoto.value)"
        id="btnVotarEnquete"
        mat-raised-button
        color="primary">Votar</button>
    </form>
  </mat-card-content>
</mat-card>
