<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pb-1">
          <img src="assets/images/logo-full.png" alt="" class="mb-05">
          <p class="text-muted m-0">Sign in to your account</p>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="username"
                [formControl]="signinForm.controls['username']"
                placeholder="Login"
                value=""
                required
                maxlength="50"
                minlength="3">
            </mat-form-field>
            <div *ngFor="let validacao of mensagens_validacao.username">
              <small
                *ngIf="signinForm.controls['username'].hasError(validacao.type) && (signinForm.controls['username'].touched || submitted)"
                class="form-error-msg"> {{validacao.message}}
              </small>
            </div>
          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input
                type="password"
                name="senha"
                matInput
                [formControl]="signinForm.controls['senha']"
                placeholder="Senha"
                value=""
                required>
            </mat-form-field>
            <div *ngFor="let validacao of mensagens_validacao.senha">
              <small
                *ngIf="signinForm.controls['senha'].hasError(validacao.type) && (signinForm.controls['senha'].touched || submitted)"
                class="form-error-msg"> {{validacao.message}}
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-checkbox
              name="rememberMe"
              [formControl]="signinForm.controls['rememberMe']"
              class="pb-1">Lembrar-me nesse computador
            </mat-checkbox>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid">Entrar</button>
          <div class="text-center">
            <a [routerLink]="'/sessions/forgot-password'" class="mat-primary text-center full-width">Esqueceu a
              Senha?</a>
            <span fxFlex></span>
            <a [routerLink]="'/sessions/signup'" class="mat-primary text-center full-width">Criar nova conta</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
