<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmAviso="ngForm" name="frmAviso">
      <input type="hidden" name="id" [ngModel]="aviso.id"/>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itTitAviso"
                matInput
                name="titulo"
                [ngModel]="aviso.titulo"
                ngModel
                #titulo="ngModel"
                placeholder="Título do aviso"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
              class="form-error-msg"> Título do aviso é obrigatório
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <textarea
                id="itDescAviso"
                matInput
                name="descricao"
                [ngModel]="aviso.descricao"
                #descricao="ngModel"
                placeholder="Descrição do aviso"
                value=""
                required></textarea>
            </mat-form-field>
            <small
              *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
              class="form-error-msg"> A descrição do aviso é requerida
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                matInput
                name="validade"
                placeholder="Validade"
                #validade="ngModel"
                [ngModel]="aviso.validade"
                [matDatepicker]="appDatepicker"
              >
              <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #appDatepicker></mat-datepicker>
            <small
              *ngIf="validade.invalid && (validade.dirty || validade.touched)"
              class="form-error-msg"> A validade é obrigatória
            </small>
          </div>
        </div>
      </div>
      <button
        id="btnSalvarAviso"
        mat-raised-button
        color="primary"
        (click)="onSalvar(frmAviso.value)"
        [disabled]="!frmAviso.valid">Salvar
      </button>
    </form>
  </mat-card-content>
</mat-card>
