<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmUsuario="ngForm" name="frmUsuario">
      <input type="hidden" name="id" [ngModel]="usuario.id"/>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itNomeUsuario"
                matInput
                name="nome"
                [ngModel]="usuario.nome"
                ngModel
                #nome="ngModel"
                placeholder="Nome do usuário"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="nome.invalid && (nome.dirty || nome.touched)"
              class="form-error-msg"> Nome do usuário é obrigatório </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itEmailUsuario"
                matInput
                name="username"
                [ngModel]="usuario.username"
                #username="ngModel"
                placeholder="E-mail do usuário"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="username.invalid && (username.dirty || username.touched)"
              class="form-error-msg"> E-mail do usuário é requerido </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itSenhaUsuario"
                type="password"
                matInput
                name="senha"
                [ngModel]="usuario.senha"
                #senha="ngModel"
                placeholder="Senha do usuário"
                value=""
                [required]="!edit"/>
            </mat-form-field>
            <small
              *ngIf="senha.invalid && (senha.dirty || senha.touched)"
              class="form-error-msg"> Senha do usuário é requerida </small>
          </div>

          <div class="pb-1">
            <mat-checkbox name="mudarSenha" [ngModel]="usuario.mudarSenha" class="pb-1">Forçar mudança de senha</mat-checkbox>
          </div>
        </div>
      </div>
      <button
        id="btnSalvarUsuario"
        mat-raised-button
        color="primary"
        (click)="onSalvar(frmUsuario.value)"
        [disabled]="!frmUsuario.valid">Salvar</button>
    </form>
  </mat-card-content>
</mat-card>
