<div *ngIf="loaded">
  <mat-form-field class="margin-333" style="width: 100%">
    <input
      id="itFiltro"
      matInput
      placeholder="Digite o filtro para todas as colunas"
      value=""
      (keyup)="updateFilter($event)">
  </mat-form-field>

  <div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="50"
                   [limit]="10"
                   [selectionType]="'single'"
                   [rows]="rows"
                   [columns]="columns"
                   (select)="onSelect($event)">
    </ngx-datatable>
  </div>
  <app-add-button (click)="onClick()" appHasPermisssion="['ROLE_SINDICO', 'ROLE_MORADOR']"></app-add-button>
</div>
<mat-card class="p-0" *ngIf="!loaded">
  <mat-card-content>
    <div class="pb-1">
      <mat-progress-spinner
        mode="indeterminate"[style.margin]="'auto'"></mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>
