<mat-card class="default">
  <mat-card-title>Avisos do Condomínio</mat-card-title>
  <mat-card-content class="p-0">
    <mat-list class="compact-list mb-1">
      <mat-list-item class="" *ngFor="let aviso of avisos">
        <div fxLayout="row" fxFlex="100" (click)="onAvisoClick(aviso)">
          <h6 class="m-0 mr-1">{{aviso.titulo}}</h6>
          <span fxFlex></span>
          <small class="text-muted mr-1">2 dias atrás</small>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- Popup modal -->
<ng-template #modalContent let-close="close">
    <h1 matDialogTitle>{{modalData.titulo}}</h1>
    <div mat-dialog-content>
      <div class="pb-1">
        {{modalData.descricao}}
      </div>
    </div>
    <div mat-dialog-actions>
      <button type="button" color="accent" mat-raised-button
              (click)="dialogRef.close(false)">Fechar
      </button>
    </div>
</ng-template>
