<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- ticket and project table column -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" fxLayoutWrap="wrap">
    <app-avisos [avisos]="dashboardData.avisos"></app-avisos>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" fxLayoutWrap="wrap">
    <mat-card class="default">
      <mat-card-title>Eventos de hoje</mat-card-title>
      <mat-card-content class="p-0">
        <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="dashboardData.reservas"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Área Comum" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.area }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Início" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.inicio | date:'HH:mm' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Término" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.termino | date:'HH:mm' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Usuário" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.dono }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Gallery and chart column -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column">
    <app-resultados-enquete [enquetes]="dashboardData.enquetes"></app-resultados-enquete>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column" *ngFor="let enquete of dashboardData.enquetesNaoVotadas">
    <app-enquete-item [enquete]="enquete" (computed)="onVotoComputado($event)"></app-enquete-item>
  </div>
</div>
