<mat-card class="p-0">
  <mat-card-title class="mat-bg-primary">
    <div [ngStyle]="{overflow: 'hidden'}"
         class="card-title-text calendar-title">
      <!-- Arrow navigations -->
      <div class="cal-top-col text-center">
        <button mat-icon-button mwlCalendarPreviousView [view]="view"
                [(viewDate)]="viewDate">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
          <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarNextView [view]="view"
                [(viewDate)]="viewDate">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <!-- Date title -->
      <div class="cal-top-col text-center">
        <h5 class="m-0" [style.lineHeight]="'40px'">{{ viewDate |
          calendarDate:(view + 'ViewTitle'):'en' }}</h5>
      </div>

      <!-- Month, day, week view toggle buttons -->
      <div class="cal-top-col text-center">
        <button mat-icon-button mat-tooltip="Month View"
                (click)="view = 'month'" [class.active]="view === 'month'">
          <mat-icon>view_comfy</mat-icon>
        </button>
        <button mat-icon-button mat-tooltip="Week View"
                (click)="view = 'week'" [class.active]="view === 'week'">
          <mat-icon>view_week</mat-icon>
        </button>
        <button mat-icon-button mat-tooltip="Day View" (click)="view = 'day'"
                [class.active]="view === 'day'">
          <mat-icon>view_day</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title> <!-- Calendar -->
  <mat-card-content class="p-0">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate"
                               [events]="events" [refresh]="refresh"
                               [activeDayIsOpen]="activeDayIsOpen"
                               (dayClicked)="dayClicked($event.day)"
                               (eventClicked)="handleEvent($event.event.start, $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
                              [events]="events" [refresh]="refresh"
                              (eventClicked)="handleEvent($event.event.start, $event.event)"
                              (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate"
                             [events]="events" [refresh]="refresh"
                             (eventClicked)="handleEvent($event.event.start, $event.event)"
                             (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </mat-card-content>

</mat-card>

<!-- Popup modal -->
<ng-template #modalContent let-close="close">
  <form name="frmNovoEvento" #frmNovoEvento="ngForm">
    <input type="hidden" name="id" [ngModel]="modalData.formData.id"/>
    <h1 matDialogTitle>{{modalData.formData.titulo}} - {{modalData.date | date:'dd/MM/yyyy'}}</h1>
    <div mat-dialog-content>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-select [ngModel]="modalData.formData.idAreaComum"
                      id="sAreaComum" placeholder="Área Comum" name="areaComum" #areaComum="ngModel"
                      required>
            <mat-option *ngFor="let areaComum of areasComuns" [value]="areaComum.id">{{areaComum.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="areaComum.invalid && (areaComum.dirty || areaComum.touched)"
               class="form-error-msg"> A área comum do evento é
          obrigatória
        </small>
      </div>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-select [ngModel]="modalData.formData.horaInicio"
                      (selectionChange)="onHoraInicioChange($event)"
                      id="sHoraInicio" placeholder="Horário de Início" name="horaInicio" #horaInicio="ngModel"
                      required>
            <mat-option *ngFor="let horaInicio of horasInicio; let i = index;" [value]="i">{{horaInicio}}</mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="horaInicio.invalid && (horaInicio.dirty || horaInicio.touched)"
               class="form-error-msg"> O horário de início do evento é
          obrigatório
        </small>
      </div>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-select [ngModel]="modalData.formData.horaTermino"
                      id="sHoraTermino" placeholder="Horário de Término" name="horaTermino" #horaTermino="ngModel"
                      required>
            <mat-option
              *ngFor="let horaTermino of horasTermino; let i = index;" [value]="i">{{horaTermino}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <small *ngIf="horaTermino.invalid && (horaTermino.dirty || horaTermino.touched)"
               class="form-error-msg"> O horário de término do evento é
          obrigatório
        </small>
      </div>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-raised-button color="primary"
              (click)="onSalvar(frmNovoEvento.value)"
              [disabled]="!frmNovoEvento.valid">Salvar
      </button>
      &nbsp; <span fxFlex></span>
      <button type="button" color="accent" mat-raised-button
              (click)="dialogRef.close(false)">Cancelar
      </button>
    </div>
  </form>
</ng-template>
