<div fxFlex="100" fxFlex.gt-sm="33">
  <mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text">Resultado da Enquete - {{enquete.titulo}}</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <canvas
        baseChart
        class="chart"
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [options]="doughnutOptions"
        [colors]="doughnutChartColors"
        [chartType]="doughnutChartType"></canvas>
    </mat-card-content>

    <ngx-datatable class="material bg-white"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="50"
                   [limit]="10"
                   [selectionType]="'single'"
                   [rows]="rows">
      <ngx-datatable-column name="Unidade" [width]="50">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Item" [width]="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Comentario" [width]="300">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>>
    </ngx-datatable>
  </mat-card>
</div>
