<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmEnquete="ngForm" name="frmEnquete">
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input id="itTituloEnquete" matInput name="titulo" [(ngModel)]="enquete.titulo" ngModel #titulo="ngModel"
                     placeholder="Título da enquete"
                     value="" required/>
            </mat-form-field>
            <small *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="form-error-msg"> Título da enquete
              é obrigatório
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-select id="sStatusEnquete" placeholder="Status da Enquete" name="status" [(ngModel)]="enquete.status"
                          ngModel #status="ngModel"
                          required>
                <mat-option id="optStatusEnquete_aberta" value="ABERTA">
                  Aberta
                </mat-option>
                <mat-option id="optStatusEnquete_fechada" value="FECHADA">
                  Fechada
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="status.invalid && (status.dirty || status.touched)" class="form-error-msg"> O status da
              enquete é obrigatório
            </small>
          </div>
          <div class="pb-2 sgc-inline-component">
            <div class="sgc-left">
              <mat-form-field class="full-width">
                <input id="itDescricaoItemEnquete" matInput name="itemEnquete" ngModel placeholder="Item da Enquete"/>
              </mat-form-field>
            </div>
            <div class="sgc-right">
              <button id="btnAddItemEnquete" type="button" mat-raised-button color="primary"
                      (click)="onAddItem(frmEnquete.value.itemEnquete)">
                Adicionar
              </button>
            </div>
          </div>


          <ngx-datatable *ngIf="enquete.itens.length"
                         class="material"
                         [rows]="enquete.itens"
                         [loadingIndicator]="loadingIndicator"
                         [columnMode]="'force'"
                         [headerHeight]="50"
                         [footerHeight]="50"
                         [rowHeight]="'auto'"
                         [reorderable]="reorderable">

            <ngx-datatable-column name="descricao" [width]="300">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ações" sortable="false" [width]="50">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button mat-raised-button color="primary" (click)="onDelItem(value)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <button id="btnSalvarEnquete" mat-raised-button color="primary" (click)="onSalvar()"
              [disabled]="!frmEnquete.valid">Salvar
      </button>
    </form>
  </mat-card-content>
</mat-card>
