<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text"></div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form #frmChamado="ngForm" name="frmChamado">
      <input type="hidden" name="id" [ngModel]="chamado.id"/>
      <input type="hidden" name="idCondominio" [ngModel]="chamado.idCondominio" value="1"/>
      <input type="hidden" name="idCriador" [ngModel]="chamado.idCriador"/>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itTitChamado"
                matInput
                name="titulo"
                [ngModel]="chamado.titulo"
                ngModel
                #titulo="ngModel"
                placeholder="Título do chamado"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
              class="form-error-msg"> Título do chamado é obrigatório </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <textarea
              	id="itDescChamado"
                matInput
                name="descricao"
                [ngModel]="chamado.descricao"
                #descricao="ngModel"
                placeholder="Descrição do chamado"
                value=""
                required></textarea>
            </mat-form-field>
            <small
              *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
              class="form-error-msg"> A descrição do chamado é requerida </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-select id="sStatusChamado" placeholder="Status do chamado" name="status"
                          [ngModel]="chamado.status"
                          ngModel #status="ngModel" required>
                <mat-option id="optStatusChamado_{{i}}" *ngFor="let status of chamado.transicoes; let i = index" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small
              *ngIf="status.invalid && (status.dirty || status.touched)"
              class="form-error-msg"> O status do chamado é obrigatório </small>
          </div>
        </div>
      </div>
      <button
      	id="btnSalvarChamado"
        mat-raised-button
        color="primary"
        (click)="onSalvar(frmChamado.value)"
        [disabled]="!frmChamado.valid">Salvar</button>
    </form>
  </mat-card-content>
</mat-card>
