<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Configurações de Conta">
      <mat-card-content class="mt-1">
        <form #frmConta="ngForm" name="frmConta">
          <mat-form-field class="full-width">
            <input
              matInput
              name="nome"
              placeholder="Nome"
              [(ngModel)]="usuario.nome"
              value=""
              required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              name="username"
              [(ngModel)]="usuario.login"
              placeholder="Email"
              value=""
              required>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onSalvar()">Salvar</button>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Imagem do Usuário">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" ng2FileSelect [uploader]="uploader"/>
        </div>

        <div class="mb-1">
          <div ng2FileDrop
               [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
               [uploader]="uploader"
               (fileOver)="fileOverBase($event)"
               class="fileupload-drop-zone">
            Drop png/jpeg file here
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
          <tr>
            <th width="30%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody *ngIf="uploader.queue.length; else tableNoData">
          <tr *ngFor="let item of uploader.queue">
            <td>{{ item?.file?.name }}</td>
            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                <mat-progress-bar
                  class=""
                  color="primary"
                  mode="determinate"
                  [value]="item.progress">
                </mat-progress-bar>
              </div>
            </td>
            <td class="">
              <mat-icon *ngIf="item.isSuccess">check</mat-icon>
              <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
              <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
            </td>
            <td nowrap>
              <button
                mat-raised-button
                class="mat-primary"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
              </button>
              <button
                mat-raised-button
                class="mat-accent"
                (click)="item.cancel()"
                [disabled]="!item.isUploading">Cancel
              </button>

              <button
                mat-raised-button
                class="mat-warn"
                (click)="item.remove()">Remove
              </button>
            </td>
          </tr>
          </tbody>
          <ng-template #tableNoData>
            <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
          </ng-template>
        </table>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Segurança da Conta">
      <mat-card-content class="mt-1">
        <form #frmSegConta="ngForm" name="frmSegConta">
          <div class="form-error-msg" *ngIf="erroValidacao"> {{msgValidacao}}</div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="password"
                id="itSenhaAtual"
                matInput
                name="senhaAtual"
                ngModel
                #senhaAtual
                placeholder="Senha atual do sistema"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="senhaAtual.invalid && (senhaAtual.dirty || senhaAtual.touched)"
              class="form-error-msg"> Senha atual é obrigatória
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                id="itNovaSenha"
                type="password"
                matInput
                name="novaSenha"
                ngModel
                #novaSenha="ngModel"
                placeholder="Nova senha"
                value=""
                required/>
            </mat-form-field>
            <small
              *ngIf="novaSenha.invalid && (novaSenha.dirty || novaSenha.touched)"
              class="form-error-msg"> Nova senha é obrigatória
            </small>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input
                type="password"
                id="itConfNovaSenha"
                matInput
                name="confNovaSenha"
                ngModel
                #confNovaSenha="ngModel"
                placeholder="Confirme a nova senha"
                value=""
                [equalTo]="novaSenha"
                required/>
            </mat-form-field>
            <small
              *ngIf="confNovaSenha.invalid && (confNovaSenha.dirty || confNovaSenha.touched)"
              class="form-error-msg"> Confirmação da nova senha é obrigatória
            </small>
            <small
              *ngIf="confNovaSenha.errors?.equalTo"
              class="form-error-msg"> Confirmação deve ser igual a nova senha informada
            </small>
          </div>
          <button type="button" mat-raised-button color="primary"
                  (click)="onSalvarSenha(frmSegConta.value)"
                  [disabled]="!frmSegConta.valid">Salvar
          </button>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
